@model Bookstore.Web.Models.Books.BookListViewModel
@using System.Security.Claims

@{
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    ViewBag.Title = "Books List";
    ViewBag.CurrentPageName = "Books";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>@L("Books")</h1>
            </div>
            <div class="col-sm-6 text-right">
                <a href="javascript:;" data-toggle="modal" data-target="#BookCreateModal" class="btn bg-blue">
                    <i class="fa fa-plus-square"></i> @L("Create")
                </a>
                <a href="javascript:;" data-toggle="modal" data-target="#BooksImportModal" class="btn bg-blue">
                    <i class="fa fa-file"></i> @L("ImportBooks")
                </a>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <!--Use for bulk actions-->
                            </div>
                            <div class="col-md-6">
                                @await Html.PartialAsync("~/Views/Books/Index.AdvancedSearch.cshtml")
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="BooksTable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>@L("Title")</th>
                                        <th>@L("Author")</th>
                                        <th>@L("Genre")</th>
                                        <th style="width: 200px">@L("Actions")</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@await Html.PartialAsync("~/Views/Books/_ImportModal.cshtml")
@await Html.PartialAsync("~/Views/Books/_CreateModal.cshtml", new Bookstore.Web.Models.Books.BookCreateViewModel())
@await Html.PartialAsync("~/Views/Books/_UpdateModal.cshtml", new Bookstore.Web.Models.Books.BookUpdateViewModel())
@await Html.PartialAsync("~/Views/Books/_DetailModal.cshtml", new Bookstore.Web.Models.Books.BookDetailViewModel())
@section Scripts {


    <script src="~/view-resources/Views/Books/index.js?v=@DateTime.Now.Ticks"></script>
    <script src="~/view-resources/Views/Books/_UpdateModal.js?v=@DateTime.Now.Ticks"></script>
    <script src="~/view-resources/Views/Books/_ImportModal.js?v=@DateTime.Now.Ticks"></script>

}

